label {
  @include font-fam-size(3em, $main-font-2, bold, #000000);
  margin: 20px auto;
  //text-shadow: 1px 2px 15px #434343;
  opacity: 0.7;
  @include media(tablet) {
    width: 50%;
    font-size: 3.5em;
  }
  @include media(laptop) {
    font-size: 5em;
  }
}

.input-wrapper {
  @include flex-display(flex, row, space-between);
  text-shadow: 1px 2px 25px #434343;
  margin: auto;
  border: 2px solid;
  border-radius: 40px;
  width: 80%;
  height: 40px;
  //margin: 20px auto;
  transition: $trans-default;
  //padding: 10px;
  @include media(tablet) {
    width: 50%;
  }
  @include media(laptop) {
  }
}
.btn-default {
  color: #333;
  background-color: #fff;
  border: none;
  &:hover {
    background: #fff;
  }
}

.btn-group-sm > .btn,
.btn-sm {
  //padding: 5px 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 30px;
}
input[name='search'] {
  width: 100%;
  border: none;
  border-radius: 30px;
  padding: 0 10px;
  @include font-fam-size(1.5em, $main-font-2, bold);

  &:focus {
    outline: none;
  }
}

button {
  margin: auto;
}

.overlay-content {
  .flickr-title {
    width: 100%;
    background-color: #000;
    //border-radius: 10px;
    padding: 20px 0;
  }
  .flickr-h {
    @include font-fam-size(1.6em, $main-font-2, bold, #fff);
    margin: 10px auto;
    @include media(tablet) {
      //font-size: 2em;
    }
    .big-flickr {
      @include font-fam-size(1em, $main-font-3, bold, $hard-blue);
      text-shadow: 1px 2px 25px $hard-blue;
    }

    .album {
      color: yellow;
    }
  }
}
